In [1]:
import numpy as np
import pandas as pd

In [2]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [3]:
# Download Dataset from https://www.dropbox.com/scl/fi/zt2vtwhpz8ndblsxqdqx1/Salary_MIS.xlsx?rlkey=2uk6m7m9w90isv6zsynhhhpyv&st=gxumjns5&dl=1
# and add it to colab

In [4]:
sallaryMisDf = pd.read_excel("https://www.dropbox.com/scl/fi/zt2vtwhpz8ndblsxqdqx1/Salary_MIS.xlsx?rlkey=2uk6m7m9w90isv6zsynhhhpyv&st=gxumjns5&dl=1")

In [5]:
# sallaryMisDf = pd.read_excel("./Salary_MIS.xlsx")

In [6]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [7]:
sallaryMisDf.shape

(120, 4)

In [8]:
sallaryMisDf.describe()

           Salary         GPA         MIS  Statistics
count  120.000000  120.000000  120.000000  120.000000
mean    69.875000    3.242750    0.316667    0.341667
std      6.594577    0.493834    0.467127    0.476257
min     53.000000    2.410000    0.000000    0.000000
25%     65.750000    2.805000    0.000000    0.000000
50%     70.000000    3.280000    0.000000    0.000000
75%     73.250000    3.692500    1.000000    1.000000
max     88.000000    3.980000    1.000000    1.000000

In [9]:
sallaryMisDf.shape

(120, 4)

In [10]:
sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])

     const   GPA  MIS  Statistics
0      1.0  3.53    1           0
1      1.0  2.86    1           0
2      1.0  3.69    0           0
3      1.0  3.24    0           0
4      1.0  3.21    0           0
..     ...   ...  ...         ...
115    1.0  3.27    0           0
116    1.0  2.86    1           0
117    1.0  3.04    1           1
118    1.0  2.99    0           0
119    1.0  3.65    0           0

[120 rows x 4 columns]

In [11]:
salaryBasedOnGpaMisStatistics = sm.OLS(
  sallaryMisDf["Salary"],
  sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])
)

In [12]:
salaryBasedOnGpaMisStatisticsFit = salaryBasedOnGpaMisStatistics.fit()

In [13]:
from functions.exportModel import exportModel
exportModel({
    "modelName": "salaryBasedOnGpaMisStatisticsFit",
    "model": salaryBasedOnGpaMisStatisticsFit,
    "description": "Predict Salary based on GPA MIS Statistics for sallaryMisDf",
    "baseRelativePath": "..",
    "inputs": [
        {
            "name": "const",
            "type": "int"
        },
        {
            "name": "GPA",
            "type": "float"
        },
        {
            "name": "MIS",
            "type": "binary"
        },
        {
            "name": "Statistics",
            "type": "binary"
        }
    ],
    "output": {
        "name": "Salary",
        "type": "int"
    }
})

In [14]:
print(salaryBasedOnGpaMisStatisticsFit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     150.3
Date:                Sat, 08 Jun 2024   Prob (F-statistic):           8.35e-40
Time:                        23:04:31   Log-Likelihood:                -300.92
No. Observations:                 120   AIC:                             609.8
Df Residuals:                     116   BIC:                             621.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.0072      1.860     23.662      0.000      40.324      47.691
GPA            6.6227      0.569     11.649      0.000       5.497       7.749
MIS            6.6071      0.595     11.098      0.000       5.428       7.786
Statistics     6.7309      0.591     11.391      0.000       5.561       7.901
==============================================================================
Omnibus:                        1.144   Durbin-Watson:                   2.164
Prob(Omnibus):                  0.564   Jarque-Bera (JB):                0.758
Skew:                          -0.172   Prob(JB):                        0.685
Kurtosis:                       3.182   Cond. No.                         24.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [15]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [16]:
from functions.transformers import transformersDict
sallaryMisDf["misXStatistics"] = sallaryMisDf["MIS"] * sallaryMisDf["Statistics"]
# sallaryMisDf['misXStatistics1'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)
sallaryMisDf['misXStatistics1'] = sallaryMisDf.apply(transformersDict.get('MIS_X_Statistics'), axis=1)

sallaryMisDf

     Salary   GPA  MIS  Statistics  misXStatistics  misXStatistics1
0        72  3.53    1           0               0              0.0
1        66  2.86    1           0               0              0.0
2        72  3.69    0           0               0              0.0
3        63  3.24    0           0               0              0.0
4        65  3.21    0           0               0              0.0
..      ...   ...  ...         ...             ...              ...
115      66  3.27    0           0               0              0.0
116      63  2.86    1           0               0              0.0
117      78  3.04    1           1               1              1.0
118      64  2.99    0           0               0              0.0
119      66  3.65    0           0               0              0.0

[120 rows x 6 columns]

In [17]:
salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics = sm.OLS(
  sallaryMisDf["Salary"],
  sm.add_constant(
      sallaryMisDf[[
          "GPA",
          "MIS",
          "Statistics",
          "misXStatistics1"
      ]]
  )
)

In [18]:
salaryBasedOnGpaMisStatistics_Transfoms_misXStatisticsFit = salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics.fit()

In [19]:
from functions.exportModel import exportModel
exportModel({
    "modelName": "salaryBasedOnGpaMisStatistics_Transfoms_misXStatisticsFit",
    "model": salaryBasedOnGpaMisStatistics_Transfoms_misXStatisticsFit,
    "description": "Predict Salary based on GPA MIS Statistics and interaction MIS * Statistics for sallaryMisDf",
    "baseRelativePath": "..",
    "inputs": [
        {
            "name": "const",
            "type": "int"
        },
        {
            "name": "GPA",
            "type": "float"
        },
        {
            "name": "MIS",
            "type": "binary"
        },
        {
            "name": "Statistics",
            "type": "binary"
        }
    ],
    "transformers":[
        {
            "name": "misXStatistics",
            "transformer": "MIS_X_Statistics"
        }
    ],
    "output": {
        "name": "Salary",
        "type": "int"
    }
})

In [20]:
print(salaryBasedOnGpaMisStatistics_Transfoms_misXStatisticsFit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.810
Model:                            OLS   Adj. R-squared:                  0.803
Method:                 Least Squares   F-statistic:                     122.2
Date:                Sat, 08 Jun 2024   Prob (F-statistic):           1.87e-40
Time:                        23:04:31   Log-Likelihood:                -296.63
No. Observations:                 120   AIC:                             603.3
Df Residuals:                     115   BIC:                             617.2
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              44.0993      1.803     24.464      0.000      40.529      47.670
GPA                 6.7109      0.552     12.162      0.000       5.618       7.804
MIS                 5.3250      0.725      7.343      0.000       3.889       6.761
Statistics          5.5350      0.704      7.861      0.000       4.140       6.930
misXStatistics1     3.4915      1.196      2.918      0.004       1.122       5.861
==============================================================================
Omnibus:                        0.396   Durbin-Watson:                   2.073
Prob(Omnibus):                  0.820   Jarque-Bera (JB):                0.109
Skew:                          -0.013   Prob(JB):                        0.947
Kurtosis:                       3.146   Cond. No.                         24.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [21]:
# sallaryMisDf['misXGpa'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['GPA'], axis=1)
sallaryMisDf['misXGpa'] = sallaryMisDf.apply(transformersDict.get('MIS_X_GPA'), axis=1)

sallaryMisDf

     Salary   GPA  MIS  Statistics  misXStatistics  misXStatistics1  misXGpa
0        72  3.53    1           0               0              0.0     3.53
1        66  2.86    1           0               0              0.0     2.86
2        72  3.69    0           0               0              0.0     0.00
3        63  3.24    0           0               0              0.0     0.00
4        65  3.21    0           0               0              0.0     0.00
..      ...   ...  ...         ...             ...              ...      ...
115      66  3.27    0           0               0              0.0     0.00
116      63  2.86    1           0               0              0.0     2.86
117      78  3.04    1           1               1              1.0     3.04
118      64  2.99    0           0               0              0.0     0.00
119      66  3.65    0           0               0              0.0     0.00

[120 rows x 7 columns]

In [22]:
salaryBasedOnGpaMisStatistics_Transfoms_misXGpa = sm.OLS(
  sallaryMisDf["Salary"],
  sm.add_constant(
      sallaryMisDf[[
          "GPA",
          "MIS",
          "Statistics",
          "misXGpa"
      ]]
  )
)

In [23]:
salaryBasedOnGpaMisStatistics_Transfoms_misXGpaFit = salaryBasedOnGpaMisStatistics_Transfoms_misXGpa.fit()

In [24]:
from functions.exportModel import exportModel
exportModel({
    "modelName": "salaryBasedOnGpaMisStatistics_Transfoms_misXGpaFit",
    "model": salaryBasedOnGpaMisStatistics_Transfoms_misXGpaFit,
    "description": "Predict Salary based on GPA MIS Statistics and interaction misXGpa for sallaryMisDf",
    "baseRelativePath": "..",
    "inputs": [
        {
            "name": "const",
            "type": "int"
        },
        {
            "name": "GPA",
            "type": "float"
        },
        {
            "name": "MIS",
            "type": "binary"
        },
        {
            "name": "Statistics",
            "type": "binary"
        }
    ],
    "transformers":[
        {
            "name": "misXGpa",
            "transformer": "MIS_X_GPA"
        }
    ],
    "output": {
        "name": "Salary",
        "type": "int"
    }
})

In [25]:
print(salaryBasedOnGpaMisStatistics_Transfoms_misXGpaFit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.788
Method:                 Least Squares   F-statistic:                     111.8
Date:                Sat, 08 Jun 2024   Prob (F-statistic):           1.11e-38
Time:                        23:04:31   Log-Likelihood:                -300.91
No. Observations:                 120   AIC:                             611.8
Df Residuals:                     115   BIC:                             625.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.1653      2.307     19.142      0.000      39.595      48.736
GPA            6.5737      0.709      9.278      0.000       5.170       7.977
MIS            6.1605      3.873      1.591      0.114      -1.511      13.832
Statistics     6.7350      0.594     11.330      0.000       5.558       7.912
misXGpa        0.1381      1.184      0.117      0.907      -2.206       2.483
==============================================================================
Omnibus:                        1.114   Durbin-Watson:                   2.167
Prob(Omnibus):                  0.573   Jarque-Bera (JB):                0.727
Skew:                          -0.167   Prob(JB):                        0.695
Kurtosis:                       3.185   Cond. No.                         57.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
# sallaryMisDf['statisticsXGpa'] = sallaryMisDf.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)
sallaryMisDf['statisticsXGpa'] = sallaryMisDf.apply(transformersDict.get('GPA_X_Statistics'), axis=1)

sallaryMisDf

,Salary,GPA,MIS,Statistics,misXStatistics,misXStatistics1,misXGpa,statisticsXGpa
0,72,3.53,1,0,0,0.0,3.53,0.00
1,66,2.86,1,0,0,0.0,2.86,0.00
2,72,3.69,0,0,0,0.0,0.00,0.00
3,63,3.24,0,0,0,0.0,0.00,0.00
4,65,3.21,0,0,0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...
115,66,3.27,0,0,0,0.0,0.00,0.00
116,63,2.86,1,0,0,0.0,2.86,0.00
117,78,3.04,1,1,1,1.0,3.04,3.04
118,64,2.99,0,0,0,0.0,0.00,0.00
119,66,3.65,0,0,0,0.0,0.00,0.00

In [33]:
salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpa = sm.OLS(
  sallaryMisDf["Salary"],
  sm.add_constant(
      sallaryMisDf[[
          "GPA",
          "MIS",
          "Statistics",
          "statisticsXGpa"
      ]]
  )
)

In [34]:
salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpaFit = salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpa.fit()

In [37]:
from functions.exportModel import exportModel
exportModel({
    "modelName": "salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpaFit",
    "model": salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpaFit,
    "description": "Predict Salary based on GPA MIS Statistics and interaction misXGpa for statisticsXGpa",
    "baseRelativePath": "..",
    "inputs": [
        {
            "name": "const",
            "type": "int"
        },
        {
            "name": "GPA",
            "type": "float"
        },
        {
            "name": "MIS",
            "type": "binary"
        },
        {
            "name": "Statistics",
            "type": "binary"
        }
    ],
    "transformers":[
        {
            "name": "statisticsXGpa",
            "transformer": "GPA_X_Statistics"
        }
    ],
    "output": {
        "name": "Salary",
        "type": "int"
    }
})

In [36]:
print(salaryBasedOnGpaMisStatistics_Transfoms_statisticsXGpaFit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     116.9
Date:                Sat, 08 Jun 2024   Prob (F-statistic):           1.44e-39
Time:                        23:05:43   Log-Likelihood:                -298.78
No. Observations:                 120   AIC:                             607.6
Df Residuals:                     115   BIC:                             621.5
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             41.2856      2.267     18.215      0.000      36.796      45.775
GPA                7.4828      0.701     10.674      0.000       6.094       8.871
MIS                6.5400      0.588     11.118      0.000       5.375       7.705
Statistics        14.5988      3.891      3.752      0.000       6.892      22.306
statisticsXGpa    -2.3890      1.168     -2.045      0.043      -4.703      -0.075
==============================================================================
Omnibus:                        0.348   Durbin-Watson:                   2.118
Prob(Omnibus):                  0.840   Jarque-Bera (JB):                0.149
Skew:                          -0.079   Prob(JB):                        0.928
Kurtosis:                       3.068   Cond. No.                         59.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [38]:
salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpa = sm.OLS(
  sallaryMisDf["Salary"],
  sm.add_constant(
      sallaryMisDf[[
          "GPA",
          "MIS",
          "Statistics",
          "misXStatistics",
          "misXGpa",
          "statisticsXGpa"
      ]]
  )
)

In [39]:
salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpaFit = salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpa.fit()

In [40]:
from functions.exportModel import exportModel
exportModel({
    "modelName": "salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpaFit",
    "model": salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpaFit,
    "description": "Predict Salary based on GPA MIS Statistics and interaction misXStatistics, misXGpa, statisticsXGpa",
    "baseRelativePath": "..",
    "inputs": [
        {
            "name": "const",
            "type": "int"
        },
        {
            "name": "GPA",
            "type": "float"
        },
        {
            "name": "MIS",
            "type": "binary"
        },
        {
            "name": "Statistics",
            "type": "binary"
        }
    ],
    "transformers":[
        {
            "name": "misXStatistics",
            "transformer": "MIS_X_Statistics"
        },
        {
            "name": "misXGpa",
            "transformer": "MIS_X_GPA"
        },
        {
            "name": "statisticsXGpa",
            "transformer": "GPA_X_Statistics"
        }
    ],
    "output": {
        "name": "Salary",
        "type": "int"
    }
})

In [41]:
print(salaryBasedOnGpaMisStatistics_Transfoms_misXStatistics_misXGpa_statisticsXGpaFit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.815
Model:                            OLS   Adj. R-squared:                  0.805
Method:                 Least Squares   F-statistic:                     83.09
Date:                Sat, 08 Jun 2024   Prob (F-statistic):           4.15e-39
Time:                        23:09:23   Log-Likelihood:                -294.81
No. Observations:                 120   AIC:                             603.6
Df Residuals:                     113   BIC:                             623.1
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             41.7092      2.481     16.809      0.000      36.793      46.625
GPA                7.4604      0.769      9.708      0.000       5.938       8.983
MIS                5.1669      3.757      1.375      0.172      -2.276      12.610
Statistics        12.6641      3.923      3.229      0.002       4.893      20.435
misXStatistics     3.3076      1.204      2.747      0.007       0.922       5.693
misXGpa            0.0512      1.158      0.044      0.965      -2.243       2.345
statisticsXGpa    -2.1451      1.158     -1.853      0.066      -4.439       0.148
==============================================================================
Omnibus:                        0.398   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.820   Jarque-Bera (JB):                0.148
Skew:                           0.067   Prob(JB):                        0.928
Kurtosis:                       3.108   Cond. No.                         63.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.